$color-border-light-gray: rgba(0, 0, 0, 0.06);
$color-border-gray: rgba(0, 0, 0, 0.1);
$color-border-dark-gray: rgba(0, 0, 0, 0.4);
$color-button-link-text: #1e3dd2;
$color-text: #222222;
$color-gray: #666666;
$color-light-gray: #dedede;
$color-button-bg-default: #f3f3f4;
$color-footer-text: #999999;
